// // normalize default styles
// @import "normalize";

// // variables
// @import "variables";

// // common styles
// @import "layout";
// @import "global";
// @import "typography";




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

// --------------------------

.author__name-title{
  color: #fff;
  font-size: 40px;
  display: block;
}

// ----------------------------

.home, .search, .discover{
  display: none;
}


.active-page{
  display: block;
}

.section {
  margin: 0 auto;
}

.container {
  max-width: 100%;
  height: 95vh;
  text-align: center;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px -250px 175px black;
  filter: grayscale(0.1);
}

.splash-inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.title {
  color: white;
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 60px;
  margin-right: -30px;
  padding-bottom: 20px;
}

.title-description-1,
.title-description-2,
.title-description-3 {
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 10px;
  margin-right: 5px;
  padding-bottom: 20px;
}

// navigation

.container-nav {
  max-width: 100%;
  height: 5vh;
  text-align: center;
  margin: 0 auto;
  background-color: #000;

  .nav {
    height: 100%;
    width: 500px;
    margin: 0 auto;

    .nav-ul{
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .nav-li {
        color: rgb(170, 170, 170);
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: 1.5px;

        .active{
          color: red;
        }

        &:hover {
          cursor: pointer;
          color: #fff;
        }
      }

      .active{
        color: #fff;
      }
    }
  }
}

// SECTION CONTENT
.container-content {
  max-width: 100%;
  height: 95vh;
  text-align: center;
  margin: 0 auto;
  background-color: #000;

  .wrapper {
    margin: 0 auto;
    width: 400px;
    height: 100%;
    // background-color: #f00;
    padding-top: 50px;
  }
}

.song-author-title {
  color: #fff;
  list-style: none;

  .author-name-title{
    letter-spacing: 1px;
    padding: 0 15px 30px 15px;
  }

  .bottom-player{
    font-size: 10px;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 45px 15px;
  }
}

// SECTION SUBSCRIBE
.subscribe-wrapper {
  max-width: 100%;
  height: 70vh;
  position: relative;
  text-align: center;
  margin: 0 auto;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(80%);

  .subscribe-span{
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 54px;
    color: #fff;
    letter-spacing: 12px;
  }

  .subscribe-span-bold{
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }

  .subscribe-btn{
    position: absolute;
    top: 50%;
    left: 20%;
    padding: 20px 20px;
    background-color: #f00;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 3px;

    &:hover {
      cursor: pointer;
      background: rgb(157, 3, 3);
    }
  }

  .artist-img{
    height: 60%;
    position: absolute;
    top: 17%;
    left: 59%;
    box-shadow: 3px 3px 5px black;
  }

  .img-description {
    position: absolute;
    top: 50%;
    left: 40%;
    color: #fff;
    font-size: 50px;
    letter-spacing: 13px;
    font-weight: 900;

    .artist-name{
      margin-left: -70px;
    }

    .artist-name::after{
      content: "\A";
      white-space: pre;
    }

    .artist-surname{
      margin-left: 105px;
    }

    .red-artist-surname{
      color: #f00;

    }
  }

  .album{
    position: absolute;
    top: 80%;
    left: 59%;
    text-align: right;

    .album-name {
      font-size: 25px;
      color: #ddd;
      letter-spacing: 3px;
    }

    .album-name::after{
      content: "\A";
      white-space: pre;
    }

    .album-description {
      font-size: 20px;
      color: #fff;
      letter-spacing: 3px;
    }
  }
}
// SECTION FOOTER
.footer {
  max-width: 100%;
  margin: 0 auto;
  background-color: #000;

  .rights {
    color: #fff;
    text-align: center;

    .footer-content{
      font-size: 10px;
      letter-spacing: 3px;
      line-height: 45px;
    }
  }
}


// SECTION SEARCH

.search {
  max-width: 100%;
  height: 80vh;
  margin: 0 auto;
  background-color: #000;

  .container-search{
    padding-top: 50px;
    text-align: center;
    color: #fff;

    .h1-search{
      letter-spacing: 6px;
      padding-bottom: 30px;
    }

    .input {
      display: flex;
      align-items: center;
      justify-content: center;

      .h3-name {
        letter-spacing: 3px;
        padding-right: 15px;
      }

      .search-input{
        height: 30px;
        width: 190px;
        border-radius: 4px;
        border: none;
      }
    }

    .search-btn {
      margin-left: 20px;
      height: 30px;
      border-radius: 4px;
      border: none;
      padding: 5px 10px;
      background-color: #f00;
      color: #fff;
      font-size: 13px;
      letter-spacing: 2px;

      &:hover {
        cursor: pointer;
        background: rgb(157, 3, 3);
      }
    }

    .result {
      display: block;
      margin-top: 50px;
      letter-spacing: 5px;
    }
  }
}

// SECTION DISCOVER

.discover {
  max-width: 100%;
  height: 80vh;
  margin: 0 auto;
  background-color: #000;

  .container-discover{
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 400px;
    height: 100%;
    // background-color: #f00;
    padding-top: 50px;

    .h1-discover{
      letter-spacing: 6px;
      padding-bottom: 30px;
    }

    .discover-text{
      display: block;
      margin-top: 20px;
      letter-spacing: 3px;
    }
  }
}

.green-audio-player .slider .gap-progress {
  background-color: #f00;
}

.green-audio-player .slider .gap-progress .pin{
  background-color: #f00;
}




