.discover {
  max-width: 100%;
  height: 80vh;
  margin: 0 auto;
  background-color: #000;

  .container-discover{
    text-align: center;
    color: $primaryColor;;
    margin: 0 auto;
    width: 400px;
    height: 100%;
    // background-color: #f00;
    padding-top: 50px;

    .h1-discover{
      letter-spacing: 6px;
      padding-bottom: 30px;
    }

    .discover-text{
      display: block;
      margin-top: 20px;
      letter-spacing: 3px;
    }
  }
}