//SECTION HOME

.container-content {
  max-width: 100%;
  height: 95vh;
  text-align: center;
  margin: 0 auto;
  background-color: #000;

  .wrapper {
    margin: 0 auto;
    width: 400px;
    height: 100%;
    padding-top: 50px;
  }
}

// SECTION SUBSCRIBE
.subscribe-wrapper {
  max-width: 100%;
  height: 70vh;
  position: relative;
  text-align: center;
  margin: 0 auto;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(80%);

  .subscribe-span{
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 54px;
    color: $primaryColor;
    letter-spacing: 12px;
  }

  .subscribe-span-bold{
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }

  .subscribe-btn{
    position: absolute;
    top: 50%;
    left: 20%;
    padding: 20px 20px;
    background-color: $redColor;
    border-radius: 5px;
    border: none;
    color: $primaryColor;
    font-size: 15px;
    letter-spacing: 3px;

    &:hover {
      cursor: pointer;
      background: rgb(157, 3, 3);
    }
  }

  .artist-img{
    height: 60%;
    position: absolute;
    top: 17%;
    left: 59%;
    box-shadow: 3px 3px 5px black;
  }

  .img-description {
    position: absolute;
    top: 50%;
    left: 47%;
    color: $primaryColor;
    font-size: 50px;
    letter-spacing: 13px;
    font-weight: 900;

    .artist-name{
      margin-left: -70px;
    }

    .artist-name::after{
      content: "\A";
      white-space: pre;
    }

    .artist-surname{
      margin-left: 105px;
    }

    .red-artist-surname{
      color: $redColor;

    }
  }

  .album{
    position: absolute;
    top: 80%;
    left: 59%;
    text-align: right;

    .album-name {
      font-size: 25px;
      color: #ddd;
      letter-spacing: 3px;
    }

    .album-name::after{
      content: "\A";
      white-space: pre;
    }

    .album-description {
      font-size: 20px;
      color: $primaryColor;
      letter-spacing: 3px;
    }
  }
}

//MAX WIDTH 480px

@media (max-width:480px){

  .title {
    font-size: 54px;
    letter-spacing: 40px;
  }
  .container-content {
    max-width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #000;

    .wrapper {
      margin: 0 auto;
      width: 350px;
      height: 100%;
      padding: 50px 0;
    }
  }

  .container-nav .nav{
    max-width: 500px;
  }

  .green-audio-player{
    width: 350px !important;
    margin: 0 auto;
  }


  // SECTION SUBSCRIBE
  .subscribe-wrapper {
    max-width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(80%);

    .subscribe-span{
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 40px;
      color: $primaryColor;
      letter-spacing: 12px;
    }

    .subscribe-span-bold{
      font-size: 40px;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
    }

    .subscribe-btn{
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px 20px;
      background-color: $redColor;
      border-radius: 5px;
      border: none;
      color: $primaryColor;
      font-size: 15px;
      letter-spacing: 3px;

      &:hover {
        cursor: pointer;
        background: rgb(157, 3, 3);
      }
    }

    .artist-img{
      height: 35%;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 3px 3px 5px black;
    }

    .img-description {
      position: absolute;
      top: 48%;
      left: 18%;
      color: $primaryColor;
      font-size: 26px;
      letter-spacing: 5px;
      font-weight: 900;

      .artist-name{
        margin-left: -70px;
      }

      .artist-name::after{
        content: "\A";
        white-space: pre;
      }

      .artist-surname{
        margin-left: 105px;
      }

      .red-artist-surname{
        color: $redColor;

      }
    }

    .album{
      position: absolute;
      top: 88%;
      left: 13%;
      text-align: center;

      .album-name {
        font-size: 25px;
        color: $redColor;
        letter-spacing: 5px;
        font-weight: bold;
      }

      .album-name::after{
        content: "\A";
        white-space: pre;
      }

      .album-description {
        font-size: 20px;
        color: $primaryColor;
        letter-spacing: 3px;
      }
    }
  }
}

// MAX WIDTH 1024px

@media (min-width:481px) and (max-width:1024px){
  .title {
    font-size: 69px;
    letter-spacing: 42px;
  }
  .container-content {
    height: 100%;
    .wrapper {
      height: 100%;
      padding: 50px 0;
    }
  }

  .subscribe-wrapper{
    .artist-img{
      height: 34%;
    }
    .img-description {
        position: absolute;
        top: 35%;
        left: 10%;
        color: $primaryColor;
        font-size: 50px;
        letter-spacing: 13px;
        font-weight: 900;
    }
    .subscribe-btn{
      top: 69%;
    }
  }

  .container-nav .nav{
    max-width: 500px;
  }
}